body {
  box-sizing: border-box;
  font-family: "Georgia", serif;
  background-color: #fff9db;
  color: #a12c32;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
}

main {
  text-align: justify;
}

h1 {
  text-align: center;
  color: #6d1b1b;
  margin-left: 30px;
}

h2 {
  color: #4a2c2a;
  margin-left: 25px;
}

h3 {
  color: #4a2c2a;
  margin-left: 20px;
}

h4 {
  color: #4a2c2a;
  margin-left: 15px;
}

h5 {
  color: #4a2c2a;
  margin-left: 10px;
}

h6 {
  text-align: center;
  color: #6d1b1b;
  margin-left: 5px;
}

.wine {
  background-color: #fff;
  padding: 15px;
  margin: 20px;
  border-left: solid 7px #6d1b1b;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

strong {
  color: #6d1b1b;
}

hr {
  color: #dbd5b6;
}
    
main {
  background-color:#e2ddc8;
  padding: 12px 24px;
  text-align: center;
}

figure {
  text-align: center;
}

.lista {
  display: inline-block;
  background-color: #6d1b1b;
  color: #e2ddc8;
}

p {
  text-align: justify;
}

.galeria {
  text-align: center;
}

.comprar {
  display: block;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6d1b1b; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    z-index: 1000;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.menu img {
    display: block;
    border: #e2ddc8;
    border-radius: 5px;
}

.menu nav a {
    margin-left: 40px;
    text-decoration: none;
    color: #6d1b1b;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e2ddc8;
}


